*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.obj-layout {
  margin: 0 auto;
  margin-top: 3rem;
  width: calc(100% - 4rem);
  max-width: 75ch;
}

.obj-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.obj-grid__full {
  width: auto;
  grid-column: span 12;
}
.obj-grid__half {
  width: auto;
  grid-column: span 6;
}
.obj-grid__third {
  width: auto;
  grid-column: span 4;
}
.obj-grid__two-third {
  width: auto;
  grid-column: span 8;
}
.obj-grid__quarter {
  width: auto;
  grid-column: span 3;
}
.obj-grid__three-quarter {
  width: auto;
  grid-column: span 9;
}

.cmp-send-button {
  background-color: #0F172A;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-radius: 0 6px 6px 0;
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
}

.cmp-url-input {
  display: flex;
  margin-bottom: 0.5rem;
}
.cmp-url-input--method {
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.cmp-url-input--url {
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-right: none;
}
