*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Mono", monospace;
  margin: 0;
}

input {
  font-family: "Noto Sans Mono", monospace;
}

code {
  font-family: "Noto Sans Mono", monospace;
}

a {
  text-decoration: none;
  color: currentColor;
}

.obj-layout {
  margin: 0 auto;
  margin-top: 3rem;
  width: calc(100% - 4rem);
  max-width: 100ch;
}

.obj-site-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.obj-site-layout__icons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.obj-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.obj-grid__full {
  width: auto;
  grid-column: span 12;
}
.obj-grid__half {
  width: auto;
  grid-column: span 6;
}
.obj-grid__third {
  width: auto;
  grid-column: span 4;
}
.obj-grid__two-third {
  width: auto;
  grid-column: span 8;
}
.obj-grid__quarter {
  width: auto;
  grid-column: span 3;
}
.obj-grid__three-quarter {
  width: auto;
  grid-column: span 9;
}

.obj-options-layout[data-view=preview] .cmp-headers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=preview] .cmp-url-search-params {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=headers] .cmp-preview {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=headers] .cmp-url-search-params {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=url-search-params] .cmp-headers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=url-search-params] .cmp-preview {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-send-button {
  background-color: black;
  border: 1px solid #e5e7eb;
  border-left: none;
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
}
.cmp-send-button__loader {
  display: none;
}
@media (prefers-reduced-motion: no-preference) {
  .cmp-send-button__loader {
    display: initial;
    margin: auto;
    margin-left: 0.5rem;
    border: 2px solid #f4f4f5;
    border-radius: 50%;
    border-top: 2px solid #0F172A;
    width: 20px;
    height: 20px;
    animation: spinner 2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cmp-url-input {
  display: flex;
  margin-bottom: 1.5rem;
}
.cmp-url-input--method {
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  border-right: none;
}
.cmp-url-input--url {
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-right: none;
}

.cmp-headers {
  margin: 1rem 0;
  height: 10rem;
  overflow: scroll;
}
.cmp-headers__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cmp-headers__label span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-response {
  margin-top: 1rem;
  border-top: 1px solid #e5e7eb;
}
.cmp-response__body {
  position: relative;
}
.cmp-response__button-container {
  position: relative;
  height: 42px;
}
.cmp-response__copy-button {
  top: 27px !important;
}
.cmp-response code {
  display: block;
  background-color: var(--response-background-color);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 1rem;
  padding-left: 0;
  font-size: 1rem;
  color: var(--response-color);
}
.cmp-response__languages {
  position: absolute;
  top: 0;
  display: inline-block;
}
.cmp-response__languages {
  display: flex;
  border: 1px solid black;
}
.cmp-response__languages-button {
  display: inline-block;
  height: 42px;
  font-size: 1rem;
  padding: 9px;
  transition: all 250ms ease-in-out;
}
.cmp-response__languages-button:hover {
  background-color: black;
  color: white;
}
.cmp-response__languages-button--active {
  background-color: black;
  color: white;
}
.cmp-response__error {
  margin-top: 1.5rem;
}
.cmp-response__error-message {
  font-size: 1.5rem;
}
.cmp-response[data-view=error] .cmp-response__headers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.cmp-response[data-view=error] .cmp-response__body {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.cmp-response[data-view=error] .cmp-response__details {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.cmp-response[data-view=body] .cmp-response__headers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.cmp-response[data-view=body] .cmp-response__error {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.cmp-response[data-view=headers] .cmp-response__body {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.cmp-response[data-view=headers] .cmp-response__error {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-response-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.cmp-response-details ul {
  border-bottom: unset;
}
.cmp-response-details__status-code {
  font-size: 1rem;
}
.cmp-response-details__time {
  font-size: 1rem;
}

.cmp-url-search-params {
  margin: 1rem 0;
  height: 10rem;
  overflow: scroll;
}
.cmp-url-search-params__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cmp-url-search-params__label span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-options-tabs {
  display: flex;
  gap: 0.5rem;
}
.cmp-options-tabs__tab {
  display: flex;
  font-size: 1rem;
  border: 1px solid black;
}
.cmp-options-tabs__tab:focus-within label {
  background-color: black;
  color: white;
}
.cmp-options-tabs__tab label {
  padding: 0.5rem 1rem;
  transition: all 250ms ease-in-out;
}
.cmp-options-tabs__tab label:focus, .cmp-options-tabs__tab label:hover, .cmp-options-tabs__tab label:active {
  background-color: black;
  color: white;
}
.cmp-options-tabs__tab--active label {
  background-color: black;
  color: white;
}
.cmp-options-tabs[data-method=GET] #body-tab {
  display: none;
}

.cmp-preview {
  position: relative;
  height: 10rem;
  margin: 1rem 0;
}
.cmp-preview pre {
  height: 9rem;
  overflow: scroll;
}
.cmp-preview code {
  display: block;
  background-color: var(--response-background-color);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding-right: 1rem;
  font-size: 1rem;
  color: var(--response-color);
}
.cmp-preview .hljs-attribute {
  text-transform: capitalize;
}

.cmp-copy-button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 0.5rem;
  transition: background-color 250ms, color 250ms ease-in-out;
}
.cmp-copy-button:hover {
  background-color: black;
}
.cmp-copy-button:hover path {
  stroke: white;
}
.cmp-copy-button--checked {
  background-color: black;
}
.cmp-copy-button svg {
  transition: background-color 250ms, color 250ms ease-in-out;
}

.cmp-site-preview {
  background-color: black;
  color: white;
}
.cmp-site-preview h1 {
  margin: 1rem;
  font-size: 2rem;
}
.cmp-site-preview span {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.hljs-line-number {
  display: inline-block;
  text-align: right;
  width: 3ch;
  margin-right: 1ch;
  background-color: rgba(139, 148, 158, 0.4784313725);
}

.atom-one-dark-reasonable {
  /*

  Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage

  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

  */
  --response-background-color: #282c34;
  --response-color: #abb2bf;
}
.atom-one-dark-reasonable .hljs {
  color: #abb2bf;
  background: #282c34;
}
.atom-one-dark-reasonable .hljs-keyword, .atom-one-dark-reasonable .hljs-operator {
  color: #F92672;
}
.atom-one-dark-reasonable .hljs-pattern-match {
  color: #F92672;
}
.atom-one-dark-reasonable .hljs-pattern-match .hljs-constructor {
  color: #61aeee;
}
.atom-one-dark-reasonable .hljs-function {
  color: #61aeee;
}
.atom-one-dark-reasonable .hljs-function .hljs-params {
  color: #A6E22E;
}
.atom-one-dark-reasonable .hljs-function .hljs-params .hljs-typing {
  color: #FD971F;
}
.atom-one-dark-reasonable .hljs-module-access .hljs-module {
  color: #7e57c2;
}
.atom-one-dark-reasonable .hljs-constructor {
  color: #e2b93d;
}
.atom-one-dark-reasonable .hljs-constructor .hljs-string {
  color: #9CCC65;
}
.atom-one-dark-reasonable .hljs-comment, .atom-one-dark-reasonable .hljs-quote {
  color: #b18eb1;
  font-style: italic;
}
.atom-one-dark-reasonable .hljs-doctag, .atom-one-dark-reasonable .hljs-formula {
  color: #c678dd;
}
.atom-one-dark-reasonable .hljs-section, .atom-one-dark-reasonable .hljs-name, .atom-one-dark-reasonable .hljs-selector-tag, .atom-one-dark-reasonable .hljs-deletion, .atom-one-dark-reasonable .hljs-subst {
  color: #e06c75;
}
.atom-one-dark-reasonable .hljs-literal {
  color: #56b6c2;
}
.atom-one-dark-reasonable .hljs-string, .atom-one-dark-reasonable .hljs-regexp, .atom-one-dark-reasonable .hljs-addition, .atom-one-dark-reasonable .hljs-attribute, .atom-one-dark-reasonable .hljs-meta .hljs-string {
  color: #98c379;
}
.atom-one-dark-reasonable .hljs-built_in,
.atom-one-dark-reasonable .hljs-title.class_,
.atom-one-dark-reasonable .hljs-class .hljs-title {
  color: #e6c07b;
}
.atom-one-dark-reasonable .hljs-attr, .atom-one-dark-reasonable .hljs-variable, .atom-one-dark-reasonable .hljs-template-variable, .atom-one-dark-reasonable .hljs-type, .atom-one-dark-reasonable .hljs-selector-class, .atom-one-dark-reasonable .hljs-selector-attr, .atom-one-dark-reasonable .hljs-selector-pseudo, .atom-one-dark-reasonable .hljs-number {
  color: #d19a66;
}
.atom-one-dark-reasonable .hljs-symbol, .atom-one-dark-reasonable .hljs-bullet, .atom-one-dark-reasonable .hljs-link, .atom-one-dark-reasonable .hljs-meta, .atom-one-dark-reasonable .hljs-selector-id, .atom-one-dark-reasonable .hljs-title {
  color: #61aeee;
}
.atom-one-dark-reasonable .hljs-emphasis {
  font-style: italic;
}
.atom-one-dark-reasonable .hljs-strong {
  font-weight: bold;
}
.atom-one-dark-reasonable .hljs-link {
  text-decoration: underline;
}

.atom-one-light {
  /*

  Atom One Light by Daniel Gamage
  Original One Light Syntax theme from https://github.com/atom/one-light-syntax

  base:    #fafafa
  mono-1:  #383a42
  mono-2:  #686b77
  mono-3:  #a0a1a7
  hue-1:   #0184bb
  hue-2:   #4078f2
  hue-3:   #a626a4
  hue-4:   #50a14f
  hue-5:   #e45649
  hue-5-2: #c91243
  hue-6:   #986801
  hue-6-2: #c18401

  */
}
.atom-one-light .hljs {
  color: #383a42;
  background: #fafafa;
}
.atom-one-light .hljs-comment,
.atom-one-light .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.atom-one-light .hljs-doctag,
.atom-one-light .hljs-keyword,
.atom-one-light .hljs-formula {
  color: #a626a4;
}
.atom-one-light .hljs-section,
.atom-one-light .hljs-name,
.atom-one-light .hljs-selector-tag,
.atom-one-light .hljs-deletion,
.atom-one-light .hljs-subst {
  color: #e45649;
}
.atom-one-light .hljs-literal {
  color: #0184bb;
}
.atom-one-light .hljs-string,
.atom-one-light .hljs-regexp,
.atom-one-light .hljs-addition,
.atom-one-light .hljs-attribute,
.atom-one-light .hljs-meta .hljs-string {
  color: #50a14f;
}
.atom-one-light .hljs-attr,
.atom-one-light .hljs-variable,
.atom-one-light .hljs-template-variable,
.atom-one-light .hljs-type,
.atom-one-light .hljs-selector-class,
.atom-one-light .hljs-selector-attr,
.atom-one-light .hljs-selector-pseudo,
.atom-one-light .hljs-number {
  color: #986801;
}
.atom-one-light .hljs-symbol,
.atom-one-light .hljs-bullet,
.atom-one-light .hljs-link,
.atom-one-light .hljs-meta,
.atom-one-light .hljs-selector-id,
.atom-one-light .hljs-title {
  color: #4078f2;
}
.atom-one-light .hljs-built_in,
.atom-one-light .hljs-title.class_,
.atom-one-light .hljs-class .hljs-title {
  color: #c18401;
}
.atom-one-light .hljs-emphasis {
  font-style: italic;
}
.atom-one-light .hljs-strong {
  font-weight: bold;
}
.atom-one-light .hljs-link {
  text-decoration: underline;
}

.github-dark {
  /*!
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15

    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
  */
}
.github-dark .hljs {
  color: #c9d1d9;
  background: #0d1117;
}
.github-dark .hljs-doctag,
.github-dark .hljs-keyword,
.github-dark .hljs-meta .hljs-keyword,
.github-dark .hljs-template-tag,
.github-dark .hljs-template-variable,
.github-dark .hljs-type,
.github-dark .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}
.github-dark .hljs-title,
.github-dark .hljs-title.class_,
.github-dark .hljs-title.class_.inherited__,
.github-dark .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}
.github-dark .hljs-attr,
.github-dark .hljs-attribute,
.github-dark .hljs-literal,
.github-dark .hljs-meta,
.github-dark .hljs-number,
.github-dark .hljs-operator,
.github-dark .hljs-variable,
.github-dark .hljs-selector-attr,
.github-dark .hljs-selector-class,
.github-dark .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}
.github-dark .hljs-regexp,
.github-dark .hljs-string,
.github-dark .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}
.github-dark .hljs-built_in,
.github-dark .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}
.github-dark .hljs-comment,
.github-dark .hljs-code,
.github-dark .hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}
.github-dark .hljs-name,
.github-dark .hljs-quote,
.github-dark .hljs-selector-tag,
.github-dark .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}
.github-dark .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}
.github-dark .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}
.github-dark .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}
.github-dark .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}
.github-dark .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}
.github-dark .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}
.github-dark .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}
.github-dark .hljs-char.escape_,
.github-dark .hljs-link,
.github-dark .hljs-params,
.github-dark .hljs-property,
.github-dark .hljs-punctuation,
.github-dark .hljs-tag {
  /* purposely ignored */
}

.response-hub .hljs {
  color: black;
  background-color: white;
}
.response-hub .hljs-doctag,
.response-hub .hljs-keyword,
.response-hub .hljs-meta .hljs-keyword,
.response-hub .hljs-template-tag,
.response-hub .hljs-template-variable,
.response-hub .hljs-type,
.response-hub .hljs-variable.language_ {
  color: #c42f39;
}
.response-hub .hljs-title,
.response-hub .hljs-title.class_,
.response-hub .hljs-title.class_.inherited__,
.response-hub .hljs-title.function_ {
  color: #3d2577;
}
.response-hub .hljs-attr,
.response-hub .hljs-attribute,
.response-hub .hljs-literal,
.response-hub .hljs-meta,
.response-hub .hljs-number,
.response-hub .hljs-operator,
.response-hub .hljs-variable,
.response-hub .hljs-selector-attr,
.response-hub .hljs-selector-class,
.response-hub .hljs-selector-id {
  color: #004199;
}
.response-hub .hljs-regexp,
.response-hub .hljs-string,
.response-hub .hljs-meta .hljs-string {
  color: #006e51;
}
.response-hub .hljs-built_in,
.response-hub .hljs-symbol {
  color: #f4ba40;
}
.response-hub .hljs-comment,
.response-hub .hljs-code,
.response-hub .hljs-formula {
  color: #8b949e;
}
.response-hub .hljs-name,
.response-hub .hljs-quote,
.response-hub .hljs-selector-tag,
.response-hub .hljs-selector-pseudo {
  color: #357a50;
}
.response-hub .hljs-char.escape_,
.response-hub .hljs-link,
.response-hub .hljs-params,
.response-hub .hljs-property,
.response-hub .hljs-punctuation,
.response-hub .hljs-tag {
  /* purposely ignored */
}

.util-margin-right {
  margin-right: 1rem;
}

.util-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.util-color-green {
  color: #357a50;
}

.util-color-red {
  color: #c42f39;
}
