*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.obj-layout {
  margin: 0 auto;
  margin-top: 3rem;
  width: calc(100% - 4rem);
  max-width: 75ch;
}

.obj-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.obj-grid__full {
  width: auto;
  grid-column: span 12;
}
.obj-grid__half {
  width: auto;
  grid-column: span 6;
}
.obj-grid__third {
  width: auto;
  grid-column: span 4;
}
.obj-grid__two-third {
  width: auto;
  grid-column: span 8;
}
.obj-grid__quarter {
  width: auto;
  grid-column: span 3;
}
.obj-grid__three-quarter {
  width: auto;
  grid-column: span 9;
}

.obj-options-layout[data-view=preview] .cmp-headers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=preview] .cmp-url-search-params {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=headers] .cmp-preview {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=headers] .cmp-url-search-params {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=url-search-params] .cmp-headers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.obj-options-layout[data-view=url-search-params] .cmp-preview {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-send-button {
  background-color: #0F172A;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-radius: 0 6px 6px 0;
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
}

.cmp-url-input {
  display: flex;
  margin-bottom: 0.5rem;
}
.cmp-url-input--method {
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.cmp-url-input--url {
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-right: none;
}

.cmp-headers {
  margin: 1rem 0;
  height: 10rem;
  overflow: scroll;
}
.cmp-headers__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cmp-headers__label span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-response {
  position: relative;
  padding-top: 1.5rem;
  margin-top: 1rem;
}
.cmp-response code {
  display: block;
  background-color: var(--response-background-color);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: var(--response-color);
  height: 70vh;
}
.cmp-response__languages {
  position: absolute;
  top: 0;
  display: inline-block;
}
.cmp-response__languages-button {
  display: inline-block;
  height: 42px;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 9px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.cmp-response__languages-button--active {
  background-color: #f4f4f5;
}

.cmp-url-search-params {
  margin: 1rem 0;
  height: 10rem;
  overflow: scroll;
}
.cmp-url-search-params__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cmp-url-search-params__label span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.cmp-options-tabs {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}
.cmp-options-tabs__tab {
  display: flex;
  font-size: 1rem;
}
.cmp-options-tabs__tab:focus-within label {
  border-bottom: 2px solid #000000;
}
.cmp-options-tabs__tab label {
  padding: 0.5rem 1rem;
}
.cmp-options-tabs__tab label:focus, .cmp-options-tabs__tab label:hover, .cmp-options-tabs__tab label:active {
  border-bottom: 2px solid #000000;
}
.cmp-options-tabs__tab--active label {
  border-bottom: 2px solid #000000;
}

.cmp-preview {
  position: relative;
  height: 10rem;
}
.cmp-preview pre {
  height: 9rem;
  overflow: scroll;
}
.cmp-preview code {
  display: block;
  background-color: var(--response-background-color);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: var(--response-color);
}
.cmp-preview .hljs-attribute {
  text-transform: capitalize;
}

.cmp-copy-button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.cmp-copy-button:focus, .cmp-copy-button:hover {
  border-color: #0F172A;
}
.cmp-copy-button--green {
  border-color: #238636;
}
.cmp-copy-button--green:focus, .cmp-copy-button--green:hover {
  border-color: #238636;
}

.atom-one-dark-reasonable {
  /*

  Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage

  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

  */
  --response-background-color: #282c34;
  --response-color: #abb2bf;
}
.atom-one-dark-reasonable .hljs {
  color: #abb2bf;
  background: #282c34;
}
.atom-one-dark-reasonable .hljs-keyword, .atom-one-dark-reasonable .hljs-operator {
  color: #F92672;
}
.atom-one-dark-reasonable .hljs-pattern-match {
  color: #F92672;
}
.atom-one-dark-reasonable .hljs-pattern-match .hljs-constructor {
  color: #61aeee;
}
.atom-one-dark-reasonable .hljs-function {
  color: #61aeee;
}
.atom-one-dark-reasonable .hljs-function .hljs-params {
  color: #A6E22E;
}
.atom-one-dark-reasonable .hljs-function .hljs-params .hljs-typing {
  color: #FD971F;
}
.atom-one-dark-reasonable .hljs-module-access .hljs-module {
  color: #7e57c2;
}
.atom-one-dark-reasonable .hljs-constructor {
  color: #e2b93d;
}
.atom-one-dark-reasonable .hljs-constructor .hljs-string {
  color: #9CCC65;
}
.atom-one-dark-reasonable .hljs-comment, .atom-one-dark-reasonable .hljs-quote {
  color: #b18eb1;
  font-style: italic;
}
.atom-one-dark-reasonable .hljs-doctag, .atom-one-dark-reasonable .hljs-formula {
  color: #c678dd;
}
.atom-one-dark-reasonable .hljs-section, .atom-one-dark-reasonable .hljs-name, .atom-one-dark-reasonable .hljs-selector-tag, .atom-one-dark-reasonable .hljs-deletion, .atom-one-dark-reasonable .hljs-subst {
  color: #e06c75;
}
.atom-one-dark-reasonable .hljs-literal {
  color: #56b6c2;
}
.atom-one-dark-reasonable .hljs-string, .atom-one-dark-reasonable .hljs-regexp, .atom-one-dark-reasonable .hljs-addition, .atom-one-dark-reasonable .hljs-attribute, .atom-one-dark-reasonable .hljs-meta .hljs-string {
  color: #98c379;
}
.atom-one-dark-reasonable .hljs-built_in,
.atom-one-dark-reasonable .hljs-title.class_,
.atom-one-dark-reasonable .hljs-class .hljs-title {
  color: #e6c07b;
}
.atom-one-dark-reasonable .hljs-attr, .atom-one-dark-reasonable .hljs-variable, .atom-one-dark-reasonable .hljs-template-variable, .atom-one-dark-reasonable .hljs-type, .atom-one-dark-reasonable .hljs-selector-class, .atom-one-dark-reasonable .hljs-selector-attr, .atom-one-dark-reasonable .hljs-selector-pseudo, .atom-one-dark-reasonable .hljs-number {
  color: #d19a66;
}
.atom-one-dark-reasonable .hljs-symbol, .atom-one-dark-reasonable .hljs-bullet, .atom-one-dark-reasonable .hljs-link, .atom-one-dark-reasonable .hljs-meta, .atom-one-dark-reasonable .hljs-selector-id, .atom-one-dark-reasonable .hljs-title {
  color: #61aeee;
}
.atom-one-dark-reasonable .hljs-emphasis {
  font-style: italic;
}
.atom-one-dark-reasonable .hljs-strong {
  font-weight: bold;
}
.atom-one-dark-reasonable .hljs-link {
  text-decoration: underline;
}

.atom-one-light {
  /*

  Atom One Light by Daniel Gamage
  Original One Light Syntax theme from https://github.com/atom/one-light-syntax

  base:    #fafafa
  mono-1:  #383a42
  mono-2:  #686b77
  mono-3:  #a0a1a7
  hue-1:   #0184bb
  hue-2:   #4078f2
  hue-3:   #a626a4
  hue-4:   #50a14f
  hue-5:   #e45649
  hue-5-2: #c91243
  hue-6:   #986801
  hue-6-2: #c18401

  */
}
.atom-one-light .hljs {
  color: #383a42;
  background: #fafafa;
}
.atom-one-light .hljs-comment,
.atom-one-light .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.atom-one-light .hljs-doctag,
.atom-one-light .hljs-keyword,
.atom-one-light .hljs-formula {
  color: #a626a4;
}
.atom-one-light .hljs-section,
.atom-one-light .hljs-name,
.atom-one-light .hljs-selector-tag,
.atom-one-light .hljs-deletion,
.atom-one-light .hljs-subst {
  color: #e45649;
}
.atom-one-light .hljs-literal {
  color: #0184bb;
}
.atom-one-light .hljs-string,
.atom-one-light .hljs-regexp,
.atom-one-light .hljs-addition,
.atom-one-light .hljs-attribute,
.atom-one-light .hljs-meta .hljs-string {
  color: #50a14f;
}
.atom-one-light .hljs-attr,
.atom-one-light .hljs-variable,
.atom-one-light .hljs-template-variable,
.atom-one-light .hljs-type,
.atom-one-light .hljs-selector-class,
.atom-one-light .hljs-selector-attr,
.atom-one-light .hljs-selector-pseudo,
.atom-one-light .hljs-number {
  color: #986801;
}
.atom-one-light .hljs-symbol,
.atom-one-light .hljs-bullet,
.atom-one-light .hljs-link,
.atom-one-light .hljs-meta,
.atom-one-light .hljs-selector-id,
.atom-one-light .hljs-title {
  color: #4078f2;
}
.atom-one-light .hljs-built_in,
.atom-one-light .hljs-title.class_,
.atom-one-light .hljs-class .hljs-title {
  color: #c18401;
}
.atom-one-light .hljs-emphasis {
  font-style: italic;
}
.atom-one-light .hljs-strong {
  font-weight: bold;
}
.atom-one-light .hljs-link {
  text-decoration: underline;
}

.util-margin-right {
  margin-right: 1rem;
}

.util-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
