
input {
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  height: 2.5rem;
  font-size: 1rem;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; 
  background-color: #0F172A;
  border-radius: 6px;
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
}

.obj-layout{
  margin: 0 auto;
  margin-top: 3rem;
  width: calc(100% - 4rem);
  max-width: 75ch; 
}
