.obj-site-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__icons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
