.cmp-auth {
  margin: 1rem 0;
  margin-top: 0.5rem;
  padding-left: 1rem;
  height: $options-area-height;
  overflow: scroll;
  
  &__input {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__select {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;
    text-transform: capitalize;
  }
  &__label span {
    @include visually-hidden;
  }

  &__label--row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;

    span {
      position: initial;
      overflow: initial;
      width: 10ch;
      font-size: 1.25rem;
    }  
  }
  
  &__tabs {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;

    &[data-method="GET"]{
      display: none;
    }
  }

  &__tab {
    display: flex;
    font-size: 1rem;
    border: 1px solid black;

    label {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      transition: all 250ms ease-in-out;

      &:hover, &:active {
        background-color: black;
        color: white;
      }
      &:focus-within{
        @include focus-styles;
      }
    }

    
    &--active {
      label {
        background-color: black;
        color: white;
      }
    }
  }
  &__input-area {

    &[data-view="none"] {
      .cmp-auth__basic-auth {
        @include visually-hidden;
      }
      .cmp-auth__bearer-token {
        @include visually-hidden;
      }
      .cmp-auth__api-key {
        @include visually-hidden;
      }
    }

    &[data-view="basic-auth"] {
      .cmp-auth__bearer-token {
        @include visually-hidden;
      }
      .cmp-auth__api-key {
        @include visually-hidden;
      }
    }

    &[data-view="bearer-token"] {
      .cmp-auth__basic-auth {
        @include visually-hidden;
      }
      .cmp-auth__api-key {
        @include visually-hidden;
      }
    }

    &[data-view="api-key"] {
      .cmp-auth__basic-auth {
        @include visually-hidden;
      }
      .cmp-auth__bearer-token {
        @include visually-hidden;
      }
    }
  }

  &__basic-auth,
  &__bearer-token,
  &__api-key {
    margin: 1rem 0;
    overflow: scroll;
  }
}
