.cmp-copy-button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem;
  transition: background-color 250ms, color 250ms ease-in-out;

  &:hover {
    background-color: black;
    path {
      stroke: white;
    }
  }

  &:focus {
    @include focus-styles;
  }

  &--checked {
    background-color: black;
  }

  svg {
    transition: background-color 250ms, color 250ms ease-in-out;
  }
}
