.cmp-headers {
  margin: 1rem 0;

  &__input {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__label {
    @include visually-hidden;
  }
}
