.cmp-history {
  min-height: 100vh;
  width: 20rem;
  border-right: $border-primary;
  padding-top: 3rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e5e7eb;
    font-size: 1.25rem;
  }

  &__options-button {
    display: flex;
    padding: 0.25rem;
    svg {
      height: 1.25rem;
    }
    &:hover {
      background-color: #e5e7eb;
    }
  }

  &__options-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 0.5rem;
    $modalWidth: 10rem;
    font-size: 1rem;
    width: $modalWidth;
    left: calc(19rem - $modalWidth);
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0.5rem 0;
  }
  &__options-modal-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
  }
  &__modal-button {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border: 1px solid black;
    width: 5ch;
    text-transform: uppercase;
    &:focus, &:hover, &:active {
      background-color: black;
      color: white;
    }
    &--delete {
      background-color: #dc2626;
      color: white;
      border: none;
      &:focus, &:hover, &:active {
        background-color: #dc2626e6;
      }
    }
}

  &__list-item {
    text-wrap: nowrap;
    padding: 0.5rem;
    padding-left: 1rem;
    &:hover,
    &:focus,
    &:focus-within {
      background-color: #e5e7eb;
    }
  }

  &__method {
    color: #fff;
    padding: 0 0.25rem;

    &--GET {
      background-color: $GET-color;
    }
    &--POST {
      background-color: $POST-color;
    }
    &--PUT {
      background-color: $PUT-color;
    }
    &--PATCH {
      background-color: $PATCH-color;
    }
    &--DELETE {
      background-color: $DELETE-color;
    }
    &--HEAD {
      background-color: $HEAD-color;
    }
    &--OPTIONS {
      background-color: $OPTIONS-color;
    }
  }
}