.cmp-history {
  min-height: 100vh;
  width: 20rem;
  border-right: $border-primary;
  padding-top: 3rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-top: 0;
    height: 2.5rem;
    border-bottom: 1px solid #e5e7eb;
    h2 {
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  &__options-button {
    display: flex;
    justify-content: center;
    width: 2rem;
    padding: 0.25rem;
    transition: all 250ms, color 250ms ease-in-out;
    background-color: white;
    border: 1px solid black;

    svg {
      height: 1.25rem;
    }
    &:hover,
    &--active {
      background-color:  black;
      path {
        stroke: white;
      }
    }
    &:focus {
      @include focus-styles;
    }
  }
  &__options-modal-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    z-index: 100;
    padding-top: 5.5rem;
  }
  &__options-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 0.5rem;
    $modalWidth: 14rem;
    font-size: 1rem;
    width: $modalWidth;
    left: calc(19rem - $modalWidth);
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0.5rem 0;
  }
  &__options-modal-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
  }
  &__modal-button {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border: 1px solid black;
    width: 5ch;
    text-transform: uppercase;
    &:hover, &:active {
      background-color: black;
      color: white;
    }

    &:focus {
      @include focus-styles;
    }

    &--delete {
      background-color: #dc2626;
      color: white;
      border: none;
      &:focus, &:hover, &:active {
        background-color: #dc2626e6;
      }
    }
  }
  &__delete-entry-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99%;
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    svg {
      height: 1rem;
      stroke: white;
    }
    &:hover {
      background-color: #c6cbd4;
    }
    &:focus {
      border: 1px solid black;
    }
  }

  &__list-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    padding-left: 1rem;
    &:hover,
    &:focus,
    &:focus-within {
      background-color: #e5e7eb;
      .cmp-history__delete-entry-button-svg {
        stroke: black;
      }
    }

    span:not(.cmp-history__method) {
      height: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      margin-right: 0.5rem;
      max-width: 14rem;
    }
  }
  &__skip-link {
    @include visually-hidden;
    &:focus {
      position: initial;
      height: 2rem;
      padding: 0.25rem;
      font-size: 0.75rem;
      width: initial;
      display: flex;
      align-items: center;
      @include focus-styles;
    }
  }
  &__method {
    margin-right: 0.5rem;
    color: #fff;
    padding: 0 0.25rem;

    &--GET {
      background-color: $GET-color;
    }
    &--POST {
      background-color: $POST-color;
    }
    &--PUT {
      background-color: $PUT-color;
    }
    &--PATCH {
      background-color: $PATCH-color;
    }
    &--DELETE {
      background-color: $DELETE-color;
    }
    &--HEAD {
      background-color: $HEAD-color;
    }
    &--OPTIONS {
      background-color: $OPTIONS-color;
    }
  }
}