.cmp-history {
  min-height: 100vh;
  width: 100%;
  // background-color: #e5e7eb;
  border-right: $border-primary;
  padding-top: 3rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &__list-item {
    text-wrap: nowrap;
    padding: 0.5rem;
    padding-left: 1rem;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__method {
    color: #fff;
    padding: 0 0.25rem;

    &--GET {
      background-color: $GET-color;
    }
    &--POST {
      background-color: $POST-color;
    }
    &--PUT {
      background-color: $PUT-color;
    }
    &--PATCH {
      background-color: $PATCH-color;
    }
    &--DELETE {
      background-color: $DELETE-color;
    }
    &--HEAD {
      background-color: $HEAD-color;
    }
    &--OPTIONS {
      background-color: $OPTIONS-color;
    }
  }
}