.cmp-options-tabs {
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;

  &--response {
    padding-left: 0;
  }

  &__tab {
    display: flex;
    font-size: 1rem;
    border: 1px solid black;

    

    label {
      padding: 0.5rem 1rem;
      transition: all 250ms ease-in-out;
 
      &:hover, &:active {
        background-color: black;
        color: white;
      }
      &:focus-within {
        @include focus-styles;
      }
    }
    
    &--active {
      label {
        background-color: black;
        color: white;
      }
    }
  }

  &[data-method="GET"],
  &[data-method="HEAD"], 
  &[data-method="OPTIONS"]{
    #query-tab,
    #body-tab {
      @include visually-hidden;
    }
  }
  &:not([data-method="GraphQL"]){
    #query-tab {
      @include visually-hidden;
    }
  }
  &[data-method="GraphQL"] {
    #preview-tab,
    #params-tab,
    #body-tab {
      @include visually-hidden;
    }
  }
}
