.cmp-options-tabs {
  display: flex;
  gap: 0.5rem;

  &__tab {
    display: flex;
    font-size: 1rem;
    border: 1px solid black;

    &:focus-within {
      label {
        background-color: black;
        color: white;
      }
    }

    label {
      padding: 0.5rem 1rem;
      transition: all 250ms ease-in-out;

      &:focus, &:hover, &:active {
        background-color: black;
        color: white;
      }
    }

    
    &--active {
      label {
        background-color: black;
        color: white;
      }
    }
  }

  &[data-method="GET"],
  &[data-method="HEAD"] {
    #body-tab {
      @include visually-hidden;
    }
  }
}
