.cmp-preview {
  position: relative;
  height: $options-area-height;
  margin: 1rem 0;
  padding-left: 1rem;

  &--GET {
    span:first-child {
      color: $GET-color;
    }
  }

  &--POST {
    span:first-child {
      color: $POST-color;
    }
  }

  &--PUT {
    span:first-child {
      color: $PUT-color;
    }
  }

  &--PATCH {
    span:first-child {
      color: $PATCH-color;
    }
  }

  &--DELETE {
    span:first-child {
      color: $DELETE-color;
    }
  }

  &--HEAD {
    span:first-child {
      color: $HEAD-color;
    }
  }

  &--OPTIONS {
    span:first-child {
      color: $OPTIONS-color;
    }
  }

  pre {
    height: $options-area-height;
    overflow: scroll;
  }

  code {
    display: block;
    background-color: var(--response-background-color);
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding-right: 1rem;
    font-size: 1rem;
    color: var(--response-color);
  }

  .hljs-attribute{
    text-transform: capitalize;
  }
}
