.cmp-preview {
  position: relative;
  height: $options-area-height;
  margin: 1rem 0;

  pre {
    height: $options-area-height;
    overflow: scroll;
  }

  code {
    display: block;
    background-color: var(--response-background-color);
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding-right: 1rem;
    font-size: 1rem;
    color: var(--response-color);
  }

  .hljs-attribute{
    text-transform: capitalize;
  }
}
