.cmp-request-body {
  margin: 1rem 0;
  height: $options-area-height;

  &__tabs {
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;


    &[data-method="GET"]{
      display: none;
    }
  }
  &__tab {
    display: flex;
    font-size: 1rem;
    border: 1px solid black;

    label {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      transition: all 250ms ease-in-out;

      &:hover, &:active {
        background-color: black;
        color: white;
      }
      &:focus-within{
        @include focus-styles;
      }
    }

    
    &--active {
      label {
        background-color: black;
        color: white;
      }
    }
  }

  &__input-area {
    width: 100%;

    &[data-view="none"] {
      .cmp-request-body__form-data {
        @include visually-hidden;
      }
      .cmp-request-body__x-www-form-urlencoded {
        @include visually-hidden;
      }
      .cmp-request-body__file {
        @include visually-hidden;
      }
      .cmp-request-body__raw {
        @include visually-hidden;
      }
    }

    &[data-view="form-data"] {
      .cmp-request-body__x-www-form-urlencoded {
        @include visually-hidden;
      }
      .cmp-request-body__file {
        @include visually-hidden;
      }
      .cmp-request-body__raw {
        @include visually-hidden;
      }
    }
    &[data-view="x-www-form-urlencoded"] {
      .cmp-request-body__form-data {
        @include visually-hidden;
      }
      .cmp-request-body__file {
        @include visually-hidden;
      }
      .cmp-request-body__raw {
        @include visually-hidden;
      }
    }
    &[data-view="file"] {
      .cmp-request-body__x-www-form-urlencoded {
        @include visually-hidden;
      }
      .cmp-request-body__form-data {
        @include visually-hidden;
      }
      .cmp-request-body__raw {
        @include visually-hidden;
      }
    }
    &[data-view="raw"] {
      .cmp-request-body__x-www-form-urlencoded {
        @include visually-hidden;
      }
      .cmp-request-body__form-data {
        @include visually-hidden;
      }
      .cmp-request-body__file {
        @include visually-hidden;
      }
    }
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;

    &:focus {
      border-color: black;
    }
  }

  &__label span {
    @include visually-hidden;
  }

  &__form-data,
  &__x-www-form-urlencoded,
  &__file,
  &__raw {
    padding: 1rem;
    padding-right: 0;
    overflow: scroll;
  }

  &__text-area {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 8rem;
    resize: none; 
    overflow: auto;
  }

  &__file-input{
    display: flex;  
    &::file-selector-button {
      transition: all 250ms ease-in-out;
      background-color: white;
      padding:  0.25rem 0.5rem;
      font-size: 0.875rem;
      border: 1px solid black;  
    }  
    &:hover::file-selector-button {
      background-color: black;
      color: white;
    }
    &:focus {
      @include focus-styles;
    }
  }
}
