.cmp-request-body {
  margin: 1rem 0;
  height: $options-area-height;

  &__tabs {
    display: flex;
    gap: 0.5rem;

    &[data-method="GET"]{
      display: none;
    }
  }
  &__tab {
    display: flex;
    font-size: 1rem;
    border: 1px solid black;

    &:focus-within {
      label {
        background-color: black;
        color: white;
      }
    }

    label {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      transition: all 250ms ease-in-out;

      &:focus, &:hover, &:active {
        background-color: black;
        color: white;
      }
    }

    
    &--active {
      label {
        background-color: black;
        color: white;
      }
    }
  }

  &__input-area {

    &[data-view="form-data"] {
      .cmp-request-body__x-www-form-urlencoded {
        @include visually-hidden;
      }
      .cmp-request-body__raw {
        @include visually-hidden;
      }
    }
    &[data-view="x-www-form-urlencoded"] {
      .cmp-request-body__form-data {
        @include visually-hidden;
      }
      .cmp-request-body__raw {
        @include visually-hidden;
      }
    }
    &[data-view="raw"] {
      .cmp-request-body__x-www-form-urlencoded {
        @include visually-hidden;
      }
      .cmp-request-body__form-data {
        @include visually-hidden;
      }
    }
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__label span {
    @include visually-hidden;
  }

  &__form-data,
  &__x-www-form-urlencoded,
  &__raw {
    margin: 1rem 0;
    overflow: scroll;
  }
  
  &__text-area {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 8rem;
    resize: none; 
    overflow: auto;
  }
}