.cmp-response {
  margin-top: 1rem;
  border-top: $border-primary;

  &__body {
    position: relative;
  }

  &__button-container {
    position: relative;
    height: 42px;
  }

  &__copy-button {
    top: 27px !important;
  }

  code {
    display: block;
    background-color: var(--response-background-color);
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 1rem;
    padding-left: 0;
    font-size: 1rem;
    color: var(--response-color);
  }

  &__languages {
    position: absolute;
    top: 0;
    display: inline-block;
  }

  &__languages {
    display: flex;
    border: 1px solid black;
  }
  &__languages-button {
    display: inline-block;
    height: 42px;
    font-size: 1rem;
    padding: 9px;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }
    &--active {
      background-color: black;
      color: white;
    }
  }

  &__error {
    margin-top: 1.5rem;
  }

  &__error-message {
    font-size: 1.5rem;
  }

  &[data-view="error"]{
    .cmp-response__headers {
      @include visually-hidden;
    }
    .cmp-response__body {
      @include visually-hidden;
    }
    .cmp-response__details {
      @include visually-hidden;
    }
  }
  &[data-view="body"]{
    .cmp-response__headers {
      @include visually-hidden;
    }
    .cmp-response__error {
      @include visually-hidden;
    }
  }
  &[data-view="headers"]{
    .cmp-response__body {
      @include visually-hidden;
    }
    .cmp-response__error {
      @include visually-hidden;
    }
  }
}
