.cmp-response-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  ul {
    border-bottom: unset;
  }

  &__status-code {
    font-size: 1rem;
  }

  &__time {
    font-size: 1rem;
  }
}
