.cmp-response {
  position: relative;
  padding-top: 1.5rem;
  
  code {
    display: block;
    background-color: var(--response-background-color);
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: var(--response-color);
    height: 70vh; // TODO: Make this not a magic number
  }

  &__languages {
    border-radius: 10px;
    background-color: rgb(244, 244, 245) ;
    display: inline-block;
    padding: 0.25rem;
  }

  &__languages-button {
    display: inline-block;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem;  

    &--active {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);      border-radius: $border-radius-primary;
      background-color: #fff;
      color: #0F172A;
    }
  }
}
