.cmp-url-search-params {
  margin: 1rem 0;
  padding-left: 1rem;
  height: $options-area-height;
  overflow: scroll;

  &__params-pair{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input[type="checkbox"]{
      width: 1rem;
      margin: 0;
      height: 1rem;
  
      &:focus {
        @include focus-styles;
      }
    }
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;

    &--strike-through{
      text-decoration: line-through;
    }

    &:focus {
      border-color: black;
    }
  }

  &__label span {
    @include visually-hidden;
  }
}
