.cmp-url-input {
  display: flex;
  margin-bottom: 1.5rem;
  
  &__method {
    font-family: 'Noto Sans Mono', monospace;
    appearance: none;
    text-align: center;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem 1ch; 
    border: $border-primary;
    border-right: none;
    font-weight: 600;

    &--GET {
      color: $GET-color;
    }

    &--POST {
      color: $POST-color;
    }

    &--PUT {
      color: $PUT-color;
    }

    &--PATCH {
     color: $PATCH-color;
    }

    &--DELETE {
      color: $DELETE-color;;
    }

    &--HEAD {
      color: $HEAD-color;
    }

    &--OPTIONS {
      color: $OPTIONS-color;
    }
  }
 
  &--url {
    border: none;
    height: 2.5rem;
    font-size: 1rem; 
    padding: 0.5rem 1.5rem;   
    width: 100%;
    border: $border-primary;
    border-left: none;
    border-right: none;
  }
}
