.cmp-url-search-params {
  margin: 1rem 0;
  height: $options-area-height;
  overflow: scroll;

  &__params-pair{
    display: flex;
    gap: 0.5rem;

    input[type="checkbox"]{
      width: 1rem;
    }
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: $border-primary;
    font-size: 1.25rem;
    line-height: 1.5;

    &--strike-through{
      text-decoration: line-through;
    }
  }

  &__label span {
    @include visually-hidden;
  }
}
