$border-primary: 1px solid #e5e7eb;
$border-radius-primary: 6px;
$options-area-height: 12rem;

$GET-color: #006e51;
$POST-color: #b22956;
$PUT-color: #a6491d;
$PATCH-color: #4b02ff;
$DELETE-color: #e42422;
$HEAD-color: #417c90;
$OPTIONS-color: #a327c4;

$max-main-layout-width: 100ch;
$min-history-layout-width: 20rem;
