@mixin visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


@mixin focus-styles {
  outline: 2px solid black;
  outline-offset: 2px;
}
